<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			            http://www.springframework.org/schema/beans/spring-beans.xsd
			            http://www.springframework.org/schema/context
			            http://www.springframework.org/schema/context/spring-context.xsd
			            http://www.springframework.org/schema/mvc
			            http://www.springframework.org/schema/mvc/spring-mvc.xsd
			            http://www.springframework.org/schema/tx
			            http://www.springframework.org/schema/tx/spring-tx.xsd
			             http://www.springframework.org/schema/aop
			            http://www.springframework.org/schema/aop/spring-aop.xsd
			            ">
			      
	 <!-- 引入外部的属性标签 -->
	 <context:property-placeholder location="classpath:db.properties"/>
	<!-- 配置c3p0的连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPootledDataSource">
		<property name="driverClass" value="${dataSource.driverClass}"/>
		<property name="jdbcUrl" value="${dataSource.jdbcUrl}"/>
		<property name="user" value="${dataSource.user}"/>
		<property name="password" value="${jdbc.password}"/>
	
	</bean>
	<!-- 配置业务层的类 -->
	<bean id="accountService" class="cn.laohu.spring.demo3.AccountServiceImpl">
		<property name="accountDao" ref="accoutDao"></property>
		
	</bean>
	<!-- 配置Dao的类 -->
	<bean id="accountDao" class="cn.laohu.spring.demo3.AccountDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 配置事务通知:(事务的增强) -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 
				propagation ：事务传播行为
				isolation   :事务隔离级别
				read-only   ：只读
				rollback—for :发生哪些异常回滚
				no-rollback—for  异常不回滚
				timeout       :过期信息
			 -->
			<tx:method name="tranfer" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	<!-- 配置切面 -->
	<aop:config>
		<!-- 配置切入点 -->
		<aop:pointcut expression="expression(*cn.laohu.spring.demo3.AccountService+.*(..))" id="pointcut1"/>
		<!-- 配置切面 -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut1"/>
	</aop:config>
</beans>
